.main-div {
  display: flex;
  flex-direction: column;
  .header-banner {
    width: 100%;
    height: 165px;
    left: 1px;
    top: 79px;
    display: flex;
    flex-direction: column;
    background: #4285f4;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    justify-content: center;
    .header {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 56px;
      text-align: center;
      letter-spacing: 1.2px;
      text-transform: capitalize;

      color: #ffffff;

      /* Inside auto layout */

      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;
    }
  }

  .form-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 600px;
    .left-side-image {
    }
    .right-side-form {
      display: flex;
      flex-direction: column;
      label {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        /* identical to box height, or 24px */

        color: #111111;

        /* Inside auto layout */

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
      }
      .form-control {
        display: flex;
        flex-direction: column;
        .name-section {
          display: flex;
          flex-direction: row;
          margin-top: 20px;
          .first-name {
            display: flex;
            flex-direction: column;
          }
          .second-name {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
          }
        }
        .contact-section {
          display: flex;
          flex-direction: row;
          margin-top: 20px;
          .email {
            display: flex;
            flex-direction: column;
          }
          .phone-no {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
          }
        }
        .topic-section {
          margin-top: 20px;
        }
        .message-section {
          display: flex;
          flex-direction: column;
          margin-top: 20px;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .main-div {
    display: flex;
    flex-direction: column;
    .header-banner {
      width: 100%;
      height: 165px;
      left: 1px;
      top: 79px;
      display: flex;
      flex-direction: column;
      background: #4285f4;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
      justify-content: center;
      .header {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        letter-spacing: 1.2px;
        text-transform: capitalize;

        color: #ffffff;

        /* Inside auto layout */

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
      }
    }

    .form-section {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 900px;
      .left-side-image {
        display: none;
      }
      .right-side-form {
        display: flex;
        flex-direction: column;
        label {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          /* identical to box height, or 24px */

          color: #111111;

          /* Inside auto layout */

          flex: none;
          order: 0;
          align-self: stretch;
          flex-grow: 0;
        }
        .form-control {
          display: flex;
          flex-direction: column;
          .name-section {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            .first-name {
              display: flex;
              flex-direction: column;
            }
            .second-name {
              display: flex;
              flex-direction: column;
              margin-left: 0px;
              margin-top: 20px;
            }
          }
          .contact-section {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            .email {
              display: flex;
              flex-direction: column;
            }
            .phone-no {
              display: flex;
              flex-direction: column;
              margin-left: 0px;
              margin-top: 20px;
            }
          }
          .topic-section {
            margin-top: 20px;
          }
          .message-section {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
