.main-div {
  display: flex;
  flex-direction: column;
  background-color: #0e1555;

  .logo-section {
    display: flex;
    justify-content: center;
    .logo {
      width: 150px;
    }
  }
  .menu-items-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
    .item {
      margin-left: 40px;
      color: white;
      cursor: pointer;
    }
  }
  .divider {
    width: 100%;
    align-items: center;
    border-bottom: 1px solid grey;
  }
  .copyrights-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem;
    .left-side-section {
      color: white;
    }
    .social-media-wrapper {
      display: flex;
      flex-direction: row;
    }
  }
}
@media only screen and (max-width: 1180px) {
  .main-div {
    .menu-items-section {
      display: none;
    }
  }
}
