.main-div {
  display: flex;
  flex-direction: row;
  background: #0e1555;
  justify-content: center;
  align-items: center;
  height: 69px;
  .logo-section {
    align-items: center;
    .logo-image {
      align-items: center;
      cursor: pointer;
    }
  }
  .menu-section {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    .items {
      margin-left: 75px;
      cursor: pointer;

      &.selected {
        color: #4285f4;
        border-bottom: 0.1625rem solid #4285f4;
      }
    }
  }
  .user-options {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    a {
      text-decoration: none;
    }
    .login-btn {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 12px 36px;
      gap: 10px;
      color: black;
      height: 37px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 18px;
      /* identical to box height */

      text-align: center;

      background: #ffffff;
      border-radius: 28px;
    }
    .register-btn {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 12px 36px;
      gap: 10px;
      color: white;
      height: 37px;
      border-radius: 28px;
      margin-left: 10px;
      width: auto;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      border-color: white;
    }
  }
  .header-menu {
    display: none;
  }
}
//phone
@media screen and (max-width: 767px) {
  .main-div {
    display: flex;
    flex-direction: row;
    background: #0e1555;
    justify-content: space-evenly;
    align-items: center;
    height: 69px;
    .logo-section {
      align-items: center;
      .logo-image {
        align-items: center;
        width: 90px;
      }
    }
    .menu-section {
      display: flex;
      flex-direction: row;
      color: white;
      align-items: center;
      display: none;
      .items {
        margin-left: 10px;
        cursor: pointer;
        width: 5px;
        &.selected {
          color: #4285f4;
          border-bottom: 0.1625rem solid #4285f4;
          width: 20px;
        }
      }
    }
    .user-options {
      display: flex;
      flex-direction: row;
      .login-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: unset;
        gap: 10px;
        color: black;
        height: 37px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        width: 90px;
        text-align: center;

        background: #ffffff;
        border-radius: 28px;
      }
      .register-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: unset;
        gap: 10px;
        color: white;
        height: 37px;
        border-radius: 28px;
        margin-left: 10px;
        width: 90px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        border-color: white;
      }
    }
    .header-menu {
      display: flex;
    }
  }
}

//tablet
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .main-div {
    display: flex;
    flex-direction: row;
    background: #0e1555;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    width: 100%;
    .logo-section {
      align-items: center;
      width: 100%;
      .logo-image {
        align-items: center;
      }
    }
    .menu-section {
      display: flex;
      flex-direction: row;
      color: white;
      align-items: center;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      justify-content: center;
      width: 100%;

      .items {
        margin: 0 0.625rem;
        cursor: pointer;

        &.selected {
          color: #4285f4;
          border-bottom: 0.1625rem solid #4285f4;
        }
      }
    }
    .user-options {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: flex-end;
      margin-left: unset;
      margin-right: 0.625rem;
      .login-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: unset;
        gap: 10px;
        color: black;
        height: 37px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        width: 110px;
        text-align: center;
        background: #ffffff;
        border-radius: 28px;
      }
      .register-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: unset;
        gap: 10px;
        color: white;
        height: 37px;
        border-radius: 28px;
        margin-left: 10px;
        width: 110px;
        border-color: white;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}
